.postContainer {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.postLink {
    font-size: 15pt;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
}

.postLink p {
    font-size: 10pt;
    margin: 0 0 0 10px;
    padding: 0 0 2px 0;
 }

.postLink a, .postLink p {
    display: flex;
    align-items: flex-end;
}