body {
    background-color: aliceblue;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

p {
    padding: 3px 0 3px 0;
    line-height: 140%;
}

pre {
    overflow: auto;
}

.no-style {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

::selection {
    background: #BAF5E0;
}

h4 {
    margin: 0;
}

h4 + p {
    margin-top: 0;
}

.more-width-70 {
    left: 50%;
    margin-left: -35vw;
    margin-right: -35vw;
    max-width: 70vw;
    position: relative;
    right: 50%;
    width: 70vw;
}